{%extends "base.html" %}
{% load staticfiles %}

{% block main_banner %}
    <!-- mainBannerTop DIV 开始 -->
      <div id="mainBannerTop">
            <!--id=mainBannerTopIssue 发布框-->
        <div id="mainBannerTopIssue">
          <!--id=mainBannerTopIssuePoint 提示-->
          <div id="mainBannerTopIssuePoint">Microblog
            </div>
            <div style="float:right;">share your feeling<font id="counter1"></font>
            </div>
            <form action="" method="post" id="">
              <div id="mainBannerTopIssueForm">
                    <!--id="mainBannerTopIssueFrame-->
                    <div id="mainBannerTopIssueFrame">
                      <textarea placeholder="What is on your mind?" rows="4" class="Size" id="textfield2"  style="overflow:hidden;border:1px #0CF solid;"></textarea>
                    </div>
                    <!--id="mainBannerTopIssueInsert 插入链接-->
                <div id="mainBannerTopIssueInsert">
                    <!--4个小div-->
                </div>
                  <!--确认发布-->
                <div id="mainBannerTopIssueSure">
                  <div id="mainBannerTopIssueSure2"> 
                    <input type="button" id="submit_microblog" value="Submit" style=" border:none" />
                  </div>
                </div>
              </div>
            </form> 
          </div>
          <!-- 表情DIV -->
        </div> 
            
            <!--id="mainBannerTitle 首页-->
            <div id="mainBannerTitle">
                <!--id="mainBannerTitleWord"-->
                <div id="mainBannerTitleWord"><b>Home</b>
                </div>
                <!--首页提示与隐藏-->
                <div id="mainBannerTitleWord2">
                        <input type="checkbox" name="checkbox" id="checkbox" onclick="tdImgState()"/>
                        隐藏图片 
                </div>
            </div> 
            <!--不同人的内容-->
            <div id="mainBannerContent">
                <div class="home_microblogs">
                    
                </div>

                    <div id="recieve">
                        <div id="ff" style="float:left;"><font style="font-size:16px;">&nbsp;&nbsp;&nbsp;&nbsp;回&nbsp;&nbsp;复</font></div>
                        <div id="left" style="float:right; margin-top:10px; margin-right:10px;">您还有可以输入<font id="counter2" >140</font>字！&nbsp;&nbsp;&nbsp;<img src="images/hongcha1.gif" alt="" width="14" height="13" align="absmiddle" title="" onclick="windowClose()" /></div><br />
                        <div id="wt">
                        <form action="" method="get">
                          <textarea name="ta" cols="" rows="" id="ta1" onkeyup="calNum(this,counter2,1)" style="overflow:hidden;border:1px #0CF solid;">
                            </textarea>
                          <br />
                            <div style="float:right; margin-right:25px; margin-top:7px; text-align:right;">
                                <!--&nbsp;&nbsp;<input type="checkbox" name="引用原微博" value="复选框"/>&nbsp;&nbsp;引用原微博-->
                                <input name="" type="button" value=" 回 复 " id="sub1" onclick="submitRstate()" />
                            </div>
                        </form>           
                        </div> 
                        <!-- 回复DIV 结束 -->
                  </div>
            </div>
{% endblock main_banner %}